* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
  text-align: center;
  padding: 5%;
}

h1 {
  margin-bottom: 2%;
  font-size: 2rem;
}

.container {
  width: 90%;
  margin: 0 auto;
}


.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #9f9f9f;
  padding: 2%;
